@import url(https://fonts.googleapis.com/css?family=Nunito);body {
  background-color: #f8fafc;
}

ul {
  list-style: none;
}

.carousel img:not(.active) {
  display: none;
}

.thumbnails img {
  cursor: pointer;
}

