label {
    margin-bottom: 0;
    font-weight: 600;
    display: block;
}

input[type='text'],
textarea,
select {
    width: 100%;
    display: block;
    border-radius: 0;
    border: 1px solid rgba(0,0,0,.15);
    padding: 0 5px;
    margin-bottom: 5px;
}

input[type='radio'],
input[type='checkbox'] {
    display: block;
}
